<div class="container down">
    <h1 style="font-weight:800;">
        <%- pageTitle %>
    </h1>
    <br />
    <h2>Placeholder</h2>
    <script>
        let data = posts
    </script>
    <% for(var i=0; i < posts.result.length; i++) { %>
        <tr>
            <td>
                <%= posts.result[i].id %>
            </td>
            <td>
                <%= posts.result[i].title %>
            </td>
        </tr>



        <% } %>

        <div class="card text-center">
            <div class="card-body-blog">
              <h5 class="card-title card-header-normal" ><%- posts.result[0].title %></h5>
              <p class="card-text"><%- posts.result[0].content %></p>
              <a href="/blog/post/<%- posts.result[0].id %>" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                <%- posts.result[0].time %>
            </div>
          </div>
</div>