<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/header.ejs') %>
    <!-- Render Content/ -->
    <% if (lang == 'de') { %>
        <%- include('content/de/bugtracker.ejs') %>
    <% } else { %>
        <%- include('content/en/bugtracker.ejs') %>
    <% } %>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/discord.ejs') %>
</body>

</html>