<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include('utils/head.ejs') %>
</head>

<body>
    <%- include('utils/navbar.ejs') %>
    <%- include('utils/header.ejs') %>
    <!-- Render Content/ -->

    <%- include('content/home.ejs') %>
    <%- include('utils/discord.ejs') %>
    <%- include('utils/footer.ejs') %>
</body>

</html>