<script>
    function navigate(id) {
        const base = id.substring(0, id.length - 4)
        const responseList = [`${base}_200`, `${base}_500`, `${base}_503`];
        document.getElementById(id).style.display = "inline";
        responseList.filter((rid) => rid !== id).forEach((id) => {
            document.getElementById(id).style.display = "none";
        });
    }
</script>

<!-- Endpunkt: Interaction -->
<div class="api">
    <div class="container">
        <div class="card">
            <a class="card-header-normal" href="#interaction" data-toggle="collapse">
                <h3 class="text-center">Interaction</h3>
            </a>

            <div class="card-body p-3 collapse interaction" id="interaction">
                <%- include('api/interaction/hug.ejs') %>
                    <%- include('api/interaction/tickle.ejs') %>
                        <%- include('api/interaction/slap.ejs') %>
                            <%- include('api/interaction/poke.ejs') %>
                                <%- include('api/interaction/pat.ejs') %>
                                    <%- include('api/interaction/kiss.ejs') %>
                                        <%- include('api/interaction/feed.ejs') %>
                                            <%- include('api/interaction/cuddle.ejs') %>
            </div>
        </div>
    </div>
</div>

<!-- Endpunkt: Reddit -->
<div class="api">
    <div class="container">
        <div class="card">
            <a class="card-header-normal" href="#reddit" data-toggle="collapse">
                <h3 class="text-center">Reddit API's</h3>
            </a>

            <div class="card-body p-3 collapse reddit" id="reddit">
                <%- include('api/reddit/awwnime.ejs') %>
                    <%- include('api/reddit/memes.ejs') %>
                        <%- include('api/reddit/dankmemes.ejs') %>
                            <%- include('api/reddit/animemes.ejs') %>
                                <%- include('api/reddit/animegif.ejs') %>
                                    <%- include('api/reddit/animewp.ejs') %>
                                        <%- include('api/reddit/moe.ejs') %>
                                            <%- include('api/reddit/puppy.ejs') %>
                                                <%- include('api/reddit/aww.ejs') %>
                                                    <%- include('api/reddit/floof.ejs') %>
            </div>
        </div>
    </div>
</div>